@use "../../styles/variables.module" as vars;

.button {
  position: relative;
  border: none;
  background-color: vars.$buttonColor;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 2;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: vars.$secondaryColor;
  transition: left 0.3s ease;
  z-index: 0;
}

.button:hover::before {
  left: 0;
}

.button:hover {
  span {
    color: white;
  }
}

.button span {
  position: relative;
  z-index: 1;
  font-weight: 500;
}