@use "../../styles/variables.module" as vars;

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .description {
    width: 80%;
    z-index: 6;
    margin-bottom: 6rem;

    .title {
      color: vars.$tertiaryColor;
      font-size: 90px;

      span {
        font-weight: bold;
      }
    }

    .descriptionOfDescription {
      margin-top: 2rem;
      width: 33rem;
      font-size: 1.2rem;
    }
  }

  .containerSkills {
    width: 80%;

    .skills {
      display: flex;
      flex-wrap: wrap;
      width: 25%;
      gap: 1rem;

      .skill {
        width: auto;
        height: 2rem;
        font-family: vars.$secondaryFont;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        font-size: 40px;
        border-radius: 7px 7px 7px 7px;
        user-select: none;
      }

      .cpp {
        background-color: vars.$secondaryColor !important;
      }

      .c {
        background-color: vars.$primaryColor !important;
      }

      .python {
        background-color: vars.$tertiaryColor !important;
        color: white;
      }

      .bash {
        background-color: vars.$buttonColor !important;
      }
    }
  }

  .banner {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    z-index: -1;

    img {
      width: 50%;
    }

  }

  .projects{
    width: 80%;
  }
}
